<form class="row border-bottom border-primary p-2">
    <div class="col-2">0</div>
    <div class="col-2">
        <input type="date" name="tb1" class="form-control"/>
    </div>
    <div class="col">
        <input type="text" name="tb2" class="form-control"/>
    </div>
    <div class="col-2">
        <input type="number" name="tb3" class="form-control"/>
    </div>
    <div class="col-2">

    </div>
    <div class="col-2">
        <button class="btn btn-sm btn-primary me-1">ADD</button>
    </div>
</form>